<?xml version="1.0"?>
<ruleset name="Aranda de Duero Theme Coding Standards">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- See https://github.com/WordPress/WordPress-Coding-Standards -->
	<!-- See https://github.com/WPTRT/WPThemeReview -->
	<!-- See https://github.com/PHPCompatibility/PHPCompatibilityWP -->

	<!-- Set a description for this ruleset. -->
	<description>Modern WordPress theme coding standards for Aranda de Duero.</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<!-- Pass some flags to PHPCS. -->
	<arg value="ps"/>
	<arg name="colors"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Check all files in this directory and below. -->
	<file>.</file>

	<!-- Exclude patterns. -->
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/languages/*</exclude-pattern>
	<exclude-pattern>*.min.php</exclude-pattern>

	<!--
	#############################################################################
	USE THE WordPress AND Theme Review RULESET
	#############################################################################
	-->

	<!-- Include WordPress coding standards -->
	<rule ref="WordPress">
		<!-- This rule does not apply since the prefix should be unique to this theme. -->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>
	</rule>

	<!-- Include WP Theme Review standards -->
	<rule ref="WPThemeReview"/>

	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!-- Verify that the text_domain is set correctly. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="aranda-de-duero"/>
		</properties>
	</rule>

	<!-- Allow for theme specific exceptions to file naming. -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="true"/>
		</properties>
	</rule>

	<!-- Set minimum supported WordPress version. -->
	<config name="minimum_supported_wp_version" value="5.0"/>

	<!-- Configure array formatting rules. -->
	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<property name="exact" value="false"/>
			<property name="alignMultilineItems" value="!=100"/>
			<property name="ignoreNewlines" value="false"/>
		</properties>
	</rule>

	<!-- Verify that all globals in the global namespace are prefixed. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="aranda_de_duero" />
		</properties>
	</rule>

	<!--
	#############################################################################
	USE PHPCompatibility RULESET
	#############################################################################
	-->

	<!-- Check for PHP 7.4+ compatibility -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP"/>

</ruleset>
